.red-hat-display-italic {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.red-hat-display-medium {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(0.25turn, #99E4C1, #065A50);
  background-size: cover;
  color: #e6e8e8;
  text-align: center;
}

h1 {
  font-size: 4em;
  margin-top: 3em;
  font-weight: 800;
}

h3 {
  font-size: 2em;
  font-style: italic;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

h6 {
  margin-top: 20em;
  font-size: small;
}

p {
  text-align: justify;
  background-color: #065a50a3;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
}

.aboutMe {
  display: block;
max-width: 50%;
margin-right: 10em;
margin-bottom: 5em;
}

.aPropos {
  display: flex;
  margin-top: 20em;
  margin: 10em;
}

img {
  max-width: 25em;
  height: auto;
  border-radius: 4em;
  display: flex
}