.red-hat-display-italic {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.red-hat-display-medium {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3em;
}

.header {
  width: 35px;
  height: 5px;
  background-color: #e6e8e8;
  border-radius: 5px;
  margin: 6px 0;
  display: block;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(0.25turn, #99E4C1, #065A50);
  background-size: cover;
  color: #e6e8e8;
  text-align: center;
}

.container {
  max-width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  max-width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

/*Section de la page d'accueil*/

.accueil {
  padding: 10%;
}

.pageAccueil h1 {
  font-size: 6em;
  font-weight: 800;
}

.pageAccueil h3 {
  margin-top: -6%;
  font-size: 4em;
  font-style: italic;
  font-weight: 400;
}

.pageAccueil h6 {
  margin-top: 20%;
  font-size: medium;
}

h2 {
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

p {
  text-align: justify;
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
}

/*Section de la page a propos*/
.aPropos {
  display: flex;
  margin: 10%;
  padding-top: 13%;
}

.aboutMe {
  display: block;
  max-width: 50%;
  margin-right: 10em;
  margin-bottom: 5em;
}

.aPropos img {
  max-width: 30%;
  height: 23em;
  border-radius: 4em;
  display: flex;
}

/*Section de la page formation*/
.formation {
  display: flex;
  align-items: center;
}

.fomationDisplay {
  margin-top: -5%;
  min-width: 35%;
  margin-left: 10em;
  display: block;
}

.formationList {
  text-align: justify;
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
  min-width: 35%;
}

.formationList h4 {
  margin-left: 2em;
}

.formationList h5 {
  margin-left: 5em;
  font-weight: 400;
}

.formation img {
  max-width: 75em;
  display: flex;
  align-items: center;
  margin-left: -10%;
}

/*Section de la page projets de groupe*/

.projetGroupe {
  padding-top: 10%;
}

.projetGroupe h2 {
  margin-left: 3em;
}

.listeProjetGroupe {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.projet {
  text-align: justify;
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
  width: 20%;
}

/*Section de la page projets individuels*/

/*Section de la page contact*/