.red-hat-display-italic {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.red-hat-display-medium {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.red-hat-display-bold {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 3em;
}

.header {
  width: 35px;
  height: 5px;
  background-color: #e6e8e8;
  border-radius: 5px;
  margin: 6px 0;
  display: block;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(0.25turn, #99E4C1, #065A50);
  background-size: cover;
  color: #e6e8e8;
  text-align: center;
}

.container {
  max-width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  max-width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

/*Section de la page d'accueil*/

.accueil {
  padding: 10%;
}

.pageAccueil h1 {
  font-size: 6em;
  font-weight: 800;
}

.pageAccueil h3 {
  margin-top: -6%;
  font-size: 4em;
  font-style: italic;
  font-weight: 400;
}

.pageAccueil h6 {
  margin-top: 20%;
  font-size: medium;
}

h2 {
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  text-align: left;
}

p {
  text-align: justify;
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
}

/*Section de la page a propos*/
.aPropos {
  display: flex;
  margin: 10%;
  padding-top: 13%;
}

.aboutMe {
  display: block;
  max-width: 50%;
  margin-right: 10em;
  margin-bottom: 5em;
}

.aPropos img {
  max-width: 30%;
  height: 23em;
  border-radius: 4em;
  display: flex;
}

/*Section de la page formation*/
.formation {
  display: flex;
  align-items: center;
}

.formationDisplay {
  margin-top: -5%;
  min-width: 35%;
  margin-left: 10em;
  display: block;
}

.formationList {
  text-align: justify;
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
  min-width: 35%;
}

.formationList h4 {
  margin-left: 2em;
}

.formationList h5 {
  margin-left: 5em;
  font-weight: 400;
}

.formation img {
  max-width: 75em;
  display: flex;
  align-items: center;
  margin-left: -10%;
}

/*Section de la page projets*/

.headerProjet {
  display: flex;
  justify-content: baseline;
}

.projetsDescription {
  padding-top: 1%;
}

.projetsDescription h2 {
  margin-left: 3em;
}

.listeProjet {
  padding-top: 0.5%;
  display: grid;
  margin-left: 5%;
  column-gap: 10%;
  grid-template-columns: 40% 40%;
}

.projet {
  background-color: #065a5049;
  border-radius: 1em;
  padding: 1em;
  font-size: large;
  margin-bottom: 2%;
}

.projet h4 {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.divProjet {
  display: flex;
  justify-content: space-evenly;
}

.projet h5 {
  margin-top: 0.15em;
  margin-bottom: 1em;
}

dialog .language{
  display: flex;
  margin-left: 30%;
  max-height: 75px;
  margin-top: -0.25em;
}

dialog .language h4{
  padding: 0.25em;
  float: right;
  border-radius: 0.5em;
  background-color: #065a50;
}

dialog .descriptionProjet {
  float: left;
}

.projet img{
  width: 40em;
}

dialog {
  display: block;
  width: 40%;
  font-size: larger;
  text-align: left;
}

/*Section de la page contact*/
.contact {
  padding: 5%;
}
.contact h1{
  font-size: 5em;
  font-weight: 700;
}

.contact a{
  text-decoration: none;
  color: #e6e8e8;
  font-size: 3em;
}

.contact .liens {
  align-content: center;
}
.contact img {
  width: 15%;
  margin: 5%;
}

.mail {
  display: flex;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}

.mailLogo{
  max-width: 5%;
  padding: 0;
}


/********Responsive
*******************/

@media screen AND (max-width:650px){
  body{
    max-width: 100wh;
  }
  p{
  font-size: 16px;
  }
  .accueil {
    font-size: 10px;
    max-width: 100vw;
  }
  .aPropos {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .aPropos .aboutMe{
    min-width: 100%;
  }
  .aPropos img {
    min-width: 100%;
    height: 20em;
  }
  .formationDisplay{
    margin: 10%;
  }
  .formationList {
    min-width: 80vw;
    padding: 0.5em;
    text-align: left;
  }
  .listeProjet {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .projet img {
    width: 90vw;
  }
  dialog {
    width: 80vw;
    margin: 5%;
    font-size: 14px;
    margin-top: 20%;
  }
  dialog .language {
    padding-bottom: 0.5em;
    max-height: 3.5em;
  }
}